    body {
      background: linear-gradient(to right, #3D7125 50%, #82DA59 50%);
    }
     #AboutTxtBox{
      width: 40%;
        margin-right: auto; 
      }
      h3{
        color: #FFF;
      font-family: Inter;
      font-size: 35px;
      font-style: normal;
      font-weight: 200;
      line-height: normal;
      }
      h1{
        color: #FFF;
        font-family: Inter;
        font-size: 45px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }