h1{
    display: flex;
    justify-content: center;
    color: white;
}
body{
    background-color: green;
    margin: 0px;
}
.contieneTodo{
    height: 560px;
    background-color: lime;
    border-radius: 75px 75px 0 0;
    display: flex;
}
.addPlayer{
    cursor: pointer;
    display: flex;
    align-self: flex-end;
    position: fixed;
    right: 45%;
}
.jugs{
    background-color: white;
    height: 50px;
    width: 300px;
    border-radius: 20px;
}
.contieneJugs{
    width: 100%;
    height: 500px;
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
}