button{
    cursor: pointer;
    border: none;
    width: 280px;
    height: 120px;
    margin: 2%;
    transition-duration: 0.4s;
  }
    .rojo{
      color: white;
      background-color: #f45757;
    }
    .rojo:hover{
      background-color: #ff3838;
    }
    .azul{
      color: white;
      background-color: #6b6bff;
    }
    .azul:hover{
      background-color: #3737fb;
    }
    h1{
      color: white;
      margin-top: 15px;
      margin-left: 100px;
      font-family: "Inter", sans-serif;
      font-size: 40px;
      font-weight: 400;
      font-style: normal;
      line-height: normal;
    }
    #arriba{
      display: flex;
      justify-content: center;
      align-items: center;
    }
    #abajo{
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .cajaTitulo{
      width:auto;
      height: 80px;
      padding: 8px;
      background-color: #282323;
      margin-bottom: 100px;
      display: flex;
      justify-content: flex-start;
    }
    body{
      margin: 0px;
    }
    img{
      height: 80px;
      width: 280px;
    }