    .button{
        cursor: pointer;
        width: 250px;
        height: auto;
        margin: 30px;
        transition-duration: 0.4s;
      }
      .button:hover{
        cursor: pointer;
        width: 260px;
        height: auto;
        margin: 30px;
        transition-duration: 0.4s;
      }
    h1{
      color: white;
      margin-top: 15px;
      margin-left: 100px;
      font-family: "Inter", sans-serif;
      font-size: 40px;
      font-weight: 400;
      font-style: normal;
      line-height: normal;
    }
    #arriba{
      display: flex;
      justify-content: center;
      align-items: center;
    }
    #abajo{
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .cajaTitulo{
      width:auto;
      height: 80px;
      padding: 8px;
      background-color: #3D7125;
      margin-bottom: 20px;
      display: flex;
      justify-content: flex-start;
    }
    body{
      margin: 0px;
       background-color: #82DA59;
       background: url(./Imgs/Fondo_futbots.png) #82DA59 50% / cover no-repeat;
    }
    .logoImg{
      margin-top: 5px;
      height: 80%;
      width: 330px;
    }