button{
    cursor: pointer;
  }
#Titulos{ 
  color:white;
  margin-bottom: 10%;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 400;
  font-style: normal;
  line-height: normal;
}
  #LoginBox{
    width: 100%;

  }
  #Login1{
    width: 50%;
    float: left;
  }
  #Login2{
    width: 50%;
    float: left;
  }
  h6{
    cursor: pointer;
    color: #d2c6c6;
    font-family: "Inter", sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  h6:hover{
  color: white    
  }

  .submitBtn{
    cursor: pointer;
    background-color: white;
    border: none;
    border-radius: 20px;
    width: 200px;
    height: 70px;
    margin-top: 10px;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 25px;
    font-style: normal;
    line-height: normal;
  }

  .submitBtn:hover{
    background-color: #e7e4e4;
  }
  .centrado{
    text-align: center;
  }
  label{
    color: white;
    margin-left: 10%;
  }
  body {
    background: linear-gradient(to right, #5D59FF 50%, #FF4D4D 50%);
  }
  .txtbox{
    border-right: none;
    border-left: none;
    border-top: none;
    border-bottom-color: white;
    display: block;

    padding: 10px;
    width: 70%;
    height: 10%;
    margin-left: 10%;
    resize: none;
    margin-bottom: 10%;
    
    overflow: auto;
  }
  #txtEmail{
    background-color: #5D59FF;
    color:white;
  }
  #txtPass{
    background-color: #5D59FF;
    color:white;
  }
  #txtName{
    background-color: #5D59FF;
    color:white;
  }
  #txtEmail2{
    background-color: #FF4D4D;
    color:white;
  }
  #txtPass2{
    background-color: #FF4D4D;
    color: white;
  }
  #txtName2{
    background-color: #FF4D4D;
    color: white;
  }
  .msjListo{
    color: white;

  }
