
  body {
    background: linear-gradient(to right, #539733 50%, #82DA59 50%);
  }
    h1{
      color:white;
      margin-bottom: 10%;
      font-family: "Inter", sans-serif;
      font-size: 40px;
      font-weight: 600;
      font-style: normal;
      line-height: normal;
    }
 
    .submit_Btn{
      cursor: pointer;
      background-color: white;
      border: none;
      border-radius: 20px;
      width: 200px;
      height: 70px;
      margin-top: 10px;
      font-family: "Inter", sans-serif;
      font-weight: 400;
      font-size: 25px;
      font-style: normal;
      line-height: normal;
    }
    .submit_Btn:hover{
      background-color: #e7e4e4;
    }
    .txtbox{
      background-color:#539733;
      color: white;
      border-right: none;
      border-left: none;
      border-top: none;
      border-bottom-color: white;
      display: block;
  
      padding: 10px;
      width: 70%;
      height: 10%;
      margin-left: 10%;
      resize: none;
      margin-bottom: 10%;
  
      overflow: auto;
    }
    .centrado{
      text-align: center;
    }
    #Login{
      width: 50%;
      float: left;
    }
    label{
      color: white;
      margin-left: 10%;
      font-family: Inter;
      font-size: 15px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
    }
    h6{
      cursor: pointer;
      color: white;
      font-family: "Inter", sans-serif;
      font-size: 15px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
    h6:hover{
      font-weight: 600;      
    }
    .msjListo{
      color: white;
    }