   body{
    margin: 0px;
     background-color: #82DA59;
     background: url(Fondo_futbots.png) #82DA59 50% / cover no-repeat;
     ;
   }
   #Titulo{
     display: flex;
     justify-content: center;
     margin-bottom: 10%;
     margin-top: 5%;
     font-family: "Inria Serif", serif;
     font-weight: 400;
     font-style: normal;
     font-size: 40px;
   }
 
   button{
     cursor: pointer;
     transition-duration: 0.4s;
   }
   .botonesArriba1{
     border: none;
     border-radius: 10px;
     color: #FFFCFC;
     background-color: #3D7125;
       font-family: "Inika", serif;
       font-weight: 400;
       font-style: normal;
       font-size: 18px;
 
   }
   .botonesArriba1:hover{
     background-color: #4a9b25;
     border-radius: 10px;
   }

   .partido{
     width: 800px;
     height: 100px;
     color: #539733;
       margin-bottom: 60px;
   }
   .partido:hover{
     width: 805px;
     height: 105px;
   }
   .torneo{
     background-color: #FEFCFC;
    width: 800px;
    height: 100px;
    color: #539733;
    border: none;
      font-family: "Inter", sans-serif;
      font-optical-sizing: auto;
      font-weight: 700;
      font-style: normal;
      font-size: 40px;
   }
   .torneo:hover{
    background-color: #e2dede;

   }
   #botonera{
    width:auto;
     height: 40px;
     padding: 8px;
     background-color: #3D7125;
     display: flex;
     justify-content: space-between;
   }
   #Botones_botonera{
     display: flex;
     justify-content: space-evenly;
     width: 50%;
   }
   #Logo{
     color: white;
   }
   #logoImg{
     height: 110%;
     width: 110%;
   }
   #botonesAbajo{
     display: flex;
     flex-direction: column;
     align-items: center;
     cursor: pointer;
   }
 