h1{
  display: flex;
  justify-content: center;
  color: white;
}
.semis{
  background-color: lime;
  width: 100%;
  height: 555px;
}
body{
  margin: 0px;
  background-color: darkgreen;
}
.jugSemis{
  background-color: white;
  width:100px;
  height: 50px;
  margin: 5px;
  border-radius: 10px;
  display: flex;
  justify-content: space-around;
}
.jugSemis2{
  background-color: white;
  width:100px;
  height: 50px;
  margin: 5px;
  border-radius: 10px;
  display: flex;
  justify-content: space-around;

}