h1{
  display: flex;
  justify-content: center;
  color: white;
}
.octavos{
  background-color: lime;
  padding: 5% 0 15% 0;
  border-radius: 20px 20px 0px 0px;
}
.cuartos{
  background-color: darkgreen;
  padding: 5% 0 10% 0;
  border-radius: 20px 20px 0px 0px;
}
.semis{
  background-color: lime;
  padding: 5% 0 10% 0;
  border-radius: 20px 20px 0px 0px;
}
.final{
  background-color: darkgreen;
  padding: 5% 0 10% 0;
  border-radius: 20px 20px 0px 0px;
}
body{
  margin: 0px;
  background-color: darkgreen;
}
.jugSemis{
  background-color: white;
  width:300px;
  height: 50px;
  margin: 15px;
  border-radius: 10px;
  display: flex;
  justify-content: space-around;
}
.jugOctavos{
  background-color: white;
  width:300px;
  height: 50px;
  margin: 15px;
  border-radius: 10px;
  display: flex;
  justify-content: space-around;
}
.jugCuartos{
  background-color: white;
  width:300px;
  height: 50px;
  margin: 15px;
  border-radius: 10px;
  display: flex;
  justify-content: space-around;
  font-size: 25px;
  font-weight: 700;
}
.jugFinal{
  background-color: white;
  width:300px;
  height: 50px;
  margin: 15px;
  border-radius: 10px;
  display: flex;
  justify-content: space-around;
}
table{
  display: flex;
  justify-content: center;
  align-items: center;
}