
  #Usuarios{
    margin-top: 30px;
    color: white;
    display: flex;
    justify-content: space-around;
    font-size: 25px;
    margin-bottom: 30px;
  }
  #Marcador{
    color: white;
    display: flex;
    justify-content: space-evenly;
  }
  .marca{
   font-size: 150px;
  }
  #guion{
   margin-top: -10px;
  }
  #Countdown{
    background-color: white;
    display: inline-flex;
    padding: 40px 10px 0px 20px;
    justify-content: flex-end;
    align-items: center;
  }
  #count{
    color: #000;

    font-family: Inter;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 330px;
    height: 90px;
  }
  body {
    background: linear-gradient(to right, #5D59FF 50%, #FF4D4D 50%);
  }
.Finalmsj{
    color: white;
    font-size: 25px;
} .winMsj{
  color: white;
  font-size: 25px;
}