
  .Stats{
    display: inline-flex;
    padding: 50px 45px 90px 65px;
    flex-direction: column;
    align-items: center;
    flex-shrink: 0;
  }
  .statbox{
    border-radius: 100px;
    background: #82DA59;
    width: 500px;
    height: 400px;
  }
  body {
    background: #3D7125;
    display: flex;
    justify-content: space-around;
  }
  .Titulo{
      color: white;
  }
  button{
    cursor: pointer;
    width: 200px;
    height: 70px;
    border: none;
    margin-left: 10%;
    border-radius: 20px;
    background-color: white;
    font-size: 20px;
    }
    button:hover{
      background-color: #cfcaca;
    }