
  #Stats{
    display: flex;
    justify-content: space-around;
  }
  #WinLoose{
    margin: 5%;
    display: flex;
    
  }
  #WinLoose2{
    margin: 5%;
    display: flex;

  }
  body {
    background: linear-gradient(to right, #5D59FF 50%, #FF4D4D 50%);
  }
  .Titulo{
      color: white;
  }